<h1>Survey</h1>

<form action="/surveys" method="post">
  <label for="title">Name your survey</label>
  <input type="title" name="title" id="title">
  <button type="submit" name="button">Create survey</button>
</form>

<h2>Surveys</h2>
<% if @surveys.any? %>
  <ul>
    <% @surveys.each do |survey| %>
      <li><a href="/surveys/<%= survey.id() %>"><%= survey.title() %></a>
      <a href="/surveys/<%=survey.id() %>/edit">Edit</a></li>
    <%end%>
  </ul>
<% else %>
  <p> There are no surveys yet! </p>
<% end %>

<h2>Add a question to a survey</h2>

<form action="/questions" method="post">
  <label for="survey_id">Select Survey</label>
  <select name="survey_id" id="survey_id" type="text">
    <% @surveys.each() do |survey| %>
    <option value="<%= survey.id()%>"><%= survey.title %></option>
    <% end %>
  </select>
  <label for="question">Create Question:</label>
  <input type="text" name="question" id="question">
  <button type="submit" name="button">Create Question</button>
</form>
