<h2>Questions for <%= @survey.title() %> survey</h2>
<% if @survey.questions().any? %>
  <ul>
    <% @survey.questions().each do |question| %>
      <li><a href="/questions/<%=question.id() %>/answers/new"><%= question.description() %></a>
      <a href="/questions/<%=question.id() %>/edit">Edit</a>
      <a href="/questions/<%=question.id() %>/answers">View answers</a></li>

    <%end%>
  </ul>
<% else %>
  <p> There are no questions yet! </p>
<% end %>

<form action="/surveys/<%=@survey.id() %>/questions" method="post">
  <label for="question">Create Question:</label>
  <input type="text" name="question" id="question">
  <button type="submit" name="button">Create Question</button>
</form>

<a href="/">Return Home</a>
